<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="/css/footer-replace.css">
<link rel="stylesheet" href="/css/no-content-wrap-max-height.css">

<div class="partial-bg">
    <h1>About</h1>
</div>

<div class="about-wrap moveDown">

    <div class="profile-wrap">

        <div class="pic-container luis"></div>

        <div class="about-txt-container">
            <h2>Luis <span class="block"> Romero</span></h2>
            <p> Lemoore, CA <br> Backend Developer</p>

            <p> Self-taught fullstack web developer who is pursion a career in web development.</p>

            <p><a href="https://www.linkedin.com/in/luis-romero-1971a0200/">Luis on LinkedIn</a></p>

        </div>

    </div>

    <div class="profile-wrap">

        <div class="pic-container maya"></div>

        <div class="about-txt-container">
            <h2>Maya Buser De, Ph.D.</h2>
            <p> Atlanta, GA <br> Web Developer </p>

            <p> Sociologist transitioning into web development to tackle social issues with technology.</p>

            <p> <a href="https://www.linkedin.com/in/mayabuserde/">Maya on LinkedIn</a> </p>

        </div>

    </div>

    <div class="profile-wrap">

        <div class="pic-container patrick"></div>

        <div class="about-txt-container">
            <h2>Patrick Pavliuchik</h2>
            <p> Berlin, Germany <br> Frontend Developer </p>

            <p> Self-taught frontend developer on the way to fullstack and a carrer in web development.</p>

            <p> <a target="_blank" href="https://www.linkedin.com/in/patrick-pavliuchik-b481b9200/">Patrick on
                    LinkedIn</a></p>
            </p>

        </div>

    </div>

    <div class="profile-wrap">

        <div class="pic-container ksenia"></div>

        <div class="about-txt-container">
            <h2>Ksenia Pavliuchik</h2>
            <p> Berlin, Germany <br> Designer

            <p> Content creator who found the beauty in design and web development. </p>

            <p><a target="_blank" href="https://www.linkedin.com/in/xeniap/">Ksenia on LinkedIn</a></p>

        </div>

    </div>

    <div>

        <footer id="footer-replace">
            <p id="cpyrght-replace">&copy; Copyright 2020 TechTeam</p>
        </footer>

    </div>

</div>



<%- include('partials/footer.ejs') %>