<%- include('partials/header.ejs') %>

<main>

  <div class="content text-center">

    <div class="container text-center home-header">
      <div class="header">
        <h1 class="display-5">How do you feel today?</h1>
      </div>
    </div>

    <div id="moods-wrap" class="container">
      <div class="container">
        <a href="/mood/anxious"><button type="button" class="btn mood-box anxious"><span class="mood-txt">Anxious &#x1F628;</span></button></a>
        <a href="/mood/sad"><button type="button" class="btn mood-box sad"><span class="mood-txt">Sad &#x1F61E;</span></button></a>
      </div>
      <div class="container">
        <a href="/mood/angry"><button type="button" class="btn mood-box angry"><span class="mood-txt">Angry &#x1F620;</span></button></a>
        <a href="/mood/lonely"><button type="button" class="btn mood-box lonely"><span class="mood-txt">Lonely &#x1F910;</span></button></a>
      </div>
    </div>

  <div class="container bottom-btn">
      <a href="/journals" class="btn blue-btn btn-lg btn-block">Open the journal</a>
      <a href="/healing/help" class="btn transparent-btn btn-lg btn-block">Talk to someone</a>
      <a href="/healing/talktome" class="btn transparent-btn btn-lg btn-block">Talk to Me</a>
      <!-- !!!!!!!!!!!!!! <Make the button work (Talk to someone)> !!!!!!!!!!!!!!!!!!! -->
    </div>
  </div>
  
</main>

<%- include('partials/footer.ejs') %>