#footer {
  position: absolute !important;
  text-align: center;
  bottom: 0;
  width: 100%;
  color: #ffffff86;
  font-weight: 400;
  font-size: 12px;
}

#cpyrght {
  margin-bottom: 2px;
}

.credit {
  position: absolute !important;
  text-align: center;
  bottom: 1.2em;
  width: 100%;
  color: #ffffff86;
  font-weight: 400;
  font-size: 12px;
}