<%- include('../partials/header-partial-bg.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<div class="partial-bg">
    <h1>Here is the boost</h1>
</div>



<!-- <h1><%= healing_method %> page</h1> -->
<div class="joke-wrap moveDown">
    <div id="jokeSetup"></div>
    <div id="jokePunchline"></div>
</div>

<div class="container bottom-btn">
    <a href="" class="btn blue-btn btn-lg btn-block" id="btn">One more boost</a>
    <a href="/mood/<%= mood %>" class="btn transparent-btn btn-lg btn-block">Go back</a>
</div>



<script src="/scripts/funnyapp.js"></script>

<%- include('../partials/footer.ejs') %>