<%- include('../partials/header-partial-onecolor.ejs') %>
<link rel="stylesheet" href="/css/footer-replace.css">
<link rel="stylesheet" href="/css/no-content-wrap-max-height.css">

<div class="partial-bg">
    <h1><%= healing_method %> page</h1>
</div>

<div class="help-wrap">

    <div class="help-box">
        <h2>The National Alliance on Mental Illness</h2>

        <p>Emergency mental health hotline Monday–Friday from 10 a.m. to 6 p.m. EST. Operators can provide information
            about mental illness and refer callers to treatment, support groups, family support, and legal support, if
            needed.</p>
        <p>
            1-800-950-NAMI (6264) or <a href="mailto:info@nami.org">info@nami.org</a>
            <a href="tel:18009506264" class="help-nmbr">Call <span class="nmbr">NAMI</span></a></p>
    </div>

    <div class="help-box">
        <h2>Substance Abuse and Mental <br> Health Services Administration</h2>

        <p>24-hour mental health hotline that provides education, support, and connections to treatment. It also offers
            an online Behavioral Health Treatment Locator to help you find suitable behavioral health treatment
            programs.
        </p>
        <p>
            1-800-662-HELP (4357) or <a href="SAMHSAInfo@samhsa.hhs.gov">SAMHSAInfo@samhsa.hhs.gov</a>
            <a href="tel:18006624357" class="help-nmbr">Call <span class="nmbr">SAMHSA</span></a></p>
    </div>

    <div class="help-box">
        <h2>National Institute of Mental Health</h2>

        <p>This organization has a variety of methods for you to communicate with knowledgeable people about mental
            health issues. There is also a live online chat option. Available Monday–Friday, 8:30 a.m. to 5 p.m. EST.

            <p>1-866-615-6464 or <a href="mailto:nimhinfo@nih.gov">nimhinfo@nih.gov</a>
                <a href="tel:18666156464" class="help-nmbr">Call <span class="nmbr">NIMH</span></a></p>
    </div>

    <div>

        <footer id="footer-replace">
            <p id="cpyrght-replace">&copy; Copyright 2020 TechTeam</p>
        </footer>

    </div>

</div>


<%- include('../partials/footer.ejs') %>