<%- include('../partials/header-partial-bg.ejs') %>

<div class="partial-bg">
<h1 class="long-h1">What will boost <span class="block"> your mood?</span></h1>
</div>
<%- include('../partials/healing_options') %>

<%- include('../partials/footer.ejs') %>