<%- include('../partials/header.ejs') %>

<div class="partial-bg">
<h1 class="long-h1">Change your <!--span class="block"--> <%=mood%></span></h1>
</div>
<%- include('../partials/healing_options') %>

<%- include('../partials/footer.ejs') %>