<%- include('../partials/header.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<div class="partial-bg">
    <h1>Here is the boost</h1>
</div>



<!-- <h1><%= healing_method %> page</h1> -->
<div class="quote-wrap moveDown">
    <blockquote class="blockquote">
        <p id="quote"></p>
        <footer id="author" class="blockquote-footer"></footer>
    </blockquote>
</div>
<!-- attirbution to API needed -->

<div class="container bottom-btn">
    <a href="" class="btn blue-btn btn-lg btn-block" id="btn">One more boost</a>
    <a href="/mood/<%= mood %>" class="btn transparent-btn btn-lg btn-block">Go back</a>
</div>

<a href="https://theysaidso.com" class="credit" title="Powered by quotes from theysaidso.com">
    They Said So®
</a>

<script src="/scripts/quoteapp.js"></script>

<%- include('../partials/footer.ejs') %>